.page {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 115rem) minmax(
      2rem,
      1fr
    );
  grid-template-rows: 15rem 1fr 5rem;
  grid-template-areas:
    'header header header'
    '. main .'
    'footer footer footer';
}
